.App {
  text-align: center;
}

.Header {
  background-color: darkgray;
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
}

.Header img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.container-card {
  width: 60rem;
  display: flex;
  position: relative;
  grid-gap: 10px;
  left: 220px;
}

.container-card Card {
  margin: 3px;
}

.Bio {
  background-color: black;
  color: bisque;
  display: flexbox;
}

.Bio p{
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Bio img{
  width: 200px;
  position: relative;
  left: 570px;
}

.CV h2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}


.CV {
  position: absolute;
  height: 1000px;
}
